#main-content {
  background-image: url("McKeldin.jpg");
  background-size: 100%;
}

.bg-semiTrans {
  background-color: rgba(100,100,100,.2);
}

.logo {
  font-style: italic;
  font-weight: bold;
  color: #000099;
}

.bg-kale {
  background-color: #448D76;
  color: white;
}

.bg-kale-trans {
  background-color: rgba(68, 141, 118, .5);
}
